*.o
*.a
/Makefile
/config.h
/config.log
/config.status
/doc/Makefile
/libtool
/src/.deps/
/src/Makefile
/src/core/.deps/
/src/core/Makefile
/src/display/.deps/
/src/display/Makefile
/src/input/.deps/
/src/input/Makefile
/src/rpc/.deps/
/src/rpc/Makefile
/src/rtorrent
/src/ui/.deps/
/src/ui/Makefile
/src/utils/.deps/
/src/utils/Makefile
/stamp-h1
